@import "../variables.less";

.ant-layout-header {
    min-height: 5.5em !important;
    height: 5.5em !important;
    display: flex !important;
    // background: red !important; 
    background: #F4F9FF !important; 
    align-items: center !important;
    justify-content: space-between !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header-profile{
  color: #2A97D6 !important;
}

.colaps-icons svg {
    fill: @color-white !important;
}

.header-actions p:hover {
    transform: scale(1.1);
}
span.header-icon{
  border: 1px solid #fff !important;
  background: #2A97D6 !important;
  
}
span.header-icon:hover {
   transform: scale(1.1);
}

.card-client {
    text-align: center;
    font-size: 18px;
  }
  
  .card-client:hover {
    transform: translateY(-10px);
  }
  
  .user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border: 4px solid #5144A0;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .user-picture svg {
    width: 2.5rem;
    fill: currentColor;
  }
  
  .profile-name-client {
    margin: 0;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .profile-name-client span {
    display: block;
    font-weight: 200;
    color: #5144A0;
    font-size: 16px;
  }

  .avatar img{
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }
 
  
  