@import "../variables.less";

td.ant-table-cell{
    max-width: 300px;
}
p.innerText{
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.img-fluid {
    max-width: 100%;
    height: auto;
  }

  
// Enquiries user details 
.user-info-details{
    display: flex;
   
    width: 100%;
}
.card-user {
    background-image: linear-gradient(163deg, #71BAE4 0%, #7E74B8 100%) !important;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    margin: 10px 5px;
    transition: all 0.3s ease;
  }
  
  .card-user:hover {
    transform: translateY(-10px);
    color: #000;
    background-image: linear-gradient(163deg, #97FFC7 0%, #6376E6 100%) !important
  }
  
  .name-user {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
  }
  
  .name-user span {
    display: block;
    font-weight: 200;
    font-size: 16px;
    overflow: hidden;
  }

  .user-info-table {
    border-collapse: collapse;
    width: 100%;
  }
  .user-info-table td:nth-child(1){
    width: 200px !important;
  }

  .userinfo-table-td {
    font-size: 16px !important;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  

  // chat 
  .top-area{padding: 24px; border-bottom: 5px solid #FAFAFF;}

.fund-item{margin: 10px 0; position: relative;}
.fund-item .fund-item{border-left: 0px solid rgb(217 217 217 / 30%);}
.fund-item .fund-title{margin-bottom: 12px; opacity: .5; font-size: 12px; line-height: 1;}
.fund-item p{color: #303030; font-weight: 600;}

.main-white-box{border-radius: 8px; overflow: hidden; background-color: #fff;}
.chat-box-admin p, .chat-time{ display: flex; justify-content: end; white-space: break-spaces;}
.chat-data{
  font-size: 18px;
}
.chat-time{
  font-size: 12px;
  color: gray;
}
.chat-box-user {white-space: break-spaces;}
.chat-box-user{background-color:  #D8D5E9  !important;}
.chat-box-admin{background-color:  #E3EFF8  !important;}
.content-area{padding: 24px 30px;}
.conversation-item{position: relative; padding-left: 55px; padding-bottom: 30px;}
.conversation-item:last-child{padding-bottom: 0;}
.conversation-item:last-child::before{top: 0;}
.conversation-item .convo-top .user-portion{padding: 8px 0;}
.conversation-item .convo-top .user-portion .thumb{width: 40px; height: 40px; line-height: 40px; text-align: center; border-radius: 100%; overflow: hidden; position: absolute; left: 25px; top: 0; transform: translate(-50%); color: #fff;}
.conversation-item .convo-top .user-portion .thumb img{position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; object-position: center;}
.conversation-item .convo-top .user-portion label{font-size: 16px; font-weight: 600;}
.conversation-item .convo-top .time-box{font-size: 12px;}
.conversation-item .convo-top .time-box svg{margin-right: 5px;}
.conversation-item .convo-bottom{padding: 5px 20px; border-radius: 8px; background-color: #F9F9F9; margin-top: 8px;}

.conversation-item.secondary-color .convo-top .user-portion .thumb{background-color: #5144A0;}
.conversation-item.secondary-color .convo-top .user-portion label{color: #5144A0;}
.conversation-item.primary-color .convo-top .user-portion .thumb{background-color: #2A98D7;}
.conversation-item.primary-color .convo-top .user-portion label{color: #2A98D7;}

.new-comment{position: relative;}
.new-comment textarea{height: 80px; padding-right: 220px;}
.new-comment .floated{position: absolute; bottom: 20px; right: 0;}
.new-comment .floated button{padding: 15px;}


@media screen and (max-width: 991px) {
    .fund-item{margin: 30px 0;}
}
@media screen and (max-width: 650px) {
    .top-area{padding: 15px;}
    .content-area{padding: 15px;}
}
