@import "../variables.less";

.detail-table{
    border-collapse: collapse;
    width: 100%;
    tr td {
        border: 1px solid #ddd;
        padding: 15px;
    }
    tr:nth-child(odd){background-color: #f2f2f2;}
}

tr.ant-table-row:hover {
    background-color: #F5F5F5 !important;
}

.ant-pagination-item-active {
    border-color: #2A96D4 !important;
}

.ant-pagination-item-active a {
    color: #2A96D4 !important;
}


// component : user master tabs
.tabbing-link{border: 1px solid #2A96D4; border-radius: 10px; display: flex; overflow: hidden;width: fit-content;  margin-bottom: 30px; background-color: #fff}
.tabbing-link a{padding: 15px; min-width: 222px; text-align: center; display: inline-block; color: #2A96D4; font-size: 16px;}
.tabbing-link a + a{border-left: 1px solid rgba(255, 255, 255, 0.25);}
.tabbing-link a.active{background-color: #000000; color: #fff}
.tabbing-link button{padding: 15px; min-width: 222px; text-align: center; display: inline-block; color: #2A96D4; border: none; font-size: 16px; background-color: transparent;}
.tabbing-link button + button{border-left: 1px solid rgba(255, 255, 255, 0.25);}
.tabbing-link button.active{background-color: #2A96D4; color: #fff}

// component : user master tabs responsive
@media screen and (max-width: 1540px) {
    .tabbing-link a, .tabbing-link button{min-width: 150px; padding: 13px;}
}
@media screen and (max-width: 991px) {
    .tabbing-link a, .tabbing-link button{min-width: auto; padding: 10px 15px; font-size: 14px;}
}
@media screen and (max-width: 650px) {
    .tabbing-link{margin: 0; width: 100%; margin-bottom: 10px;}
    .tabbing-link a, .tabbing-link button{min-width: auto; padding: 10px 15px; font-size: 14px; width: 50%; text-align: center;}
    .top-area{padding: 15px;}
}


  .name-user span {
    display: block;
    font-weight: 200;
    font-size: 16px;
  }

//   tracking card

.user-cosmatic:hover {
    transform: scale(0.97);
    border-radius: 20px;
    box-shadow: 0px 0px 30px 1px #70B8E3;
    background: #8FC7EB !important;
     }


.user-cosmatic {
    width: 100% !important;
    border-radius: @border-radius !important;
    // background: @secondary-color !important;
    background: #B8E3FF ;  color: #000 !important;
    position: relative !important;
    min-height: 10em !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    cursor: pointer !important;
    .cosmatic-icon {
        border-radius: 50% !important;
        background: @secondary-color !important;
        padding: 0.9em !important;
        svg path {
            fill: transparent;
            stroke: @primary-color !important;
        }
    }
    .cosmatic-counts {
        font-size: 2.6rem;
        font-weight: bold;
        margin-bottom: 0;
            color: #000 !important;
    }
    .cosmatic-title {
        margin-top: 0.6em;
        font-size: 1.1rem !important;
            color: #000 !important;
    }
    .top-right-icon {
        position: absolute !important;
        right: -2%;
        top: -3%;
        svg {
            width: 7em;
            height: 7em;
            path {
                fill: transparent;
                stroke: @secondary-color !important;
            }
        }
    }
}

.userinfo-table-td {
    font-size: 16px !important;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }


  

  // plan page
.plan_img{
    width: 100% !important;
}
.section_div{
    margin: 40px 0px;
}
.pricing_wrapper .card {
    border-radius: 10px;
}
.pricing_wrapper .pricing_top:hover {
    border-bottom: 10px solid #1FE6B5;
    transition: all 0.3s ease-in-out;
}
.pricing_wrapper .pricing_bottom:hover .card-img-bottom {
    border-bottom: 10px solid #1FE6B5;
    transition: all 0.3s ease-in-out;
}
.pricing_wrapper .card .card-img-top {
    border-radius: 10px 10px 0 0;
}
.pricing_wrapper .card .card-img-bottom {
    border-radius: 0 0 10px 10px;
}


