@import "./variables.less";

.mq-badge {
    width: 100px !important;
    padding: 0.2em 0.8em;
    border-radius: 0.3em;
    box-shadow: 1px 1px 10px #00000075;
    text-align: center;
}

.mq-badge-active {
    background: green !important;
    color: @color-white !important;
}

.mq-badge-inactive {
    color: #fff !important;
    background: red !important;
}
