@import "./variables.less";

.m-auto {
    margin: auto !important;
}

.m-0 {
    margin: 0em !important;
}

.m-1 {
    margin: 0.5em !important;
}

.m-2 {
    margin: 1em !important;
}

.m-3 {
    margin: 1.5em !important;
}

.m-4 {
    margin: 2em !important;
}

.mr-0 {
    margin-right: 0em !important;
}

.mr-1 {
    margin-right: 0.5em !important;
}

.mr-2 {
    margin-right: 1em !important;
}

.mr-3 {
    margin-right: 1.5em !important;
}

.mr-4 {
    margin-right: 2em !important;
}

.mt-0 {
    margin-top: 0em !important;
}

.mt-1 {
    margin-top: 0.5em !important;
}

.mt-2 {
    margin-top: 1em !important;
}

.mt-3 {
    margin-top: 1.5em !important;
}

.mt-4 {
    margin-top: 2em !important;
}

.mb-0 {
    margin-bottom: 0em !important;
}

.mb-1 {
    margin-bottom: 0.5em !important;
}

.mb-2 {
    margin-bottom: 1em !important;
}

.mb-3 {
    margin-bottom: 1.5em !important;
}

.mb-4 {
    margin-bottom: 2em !important;
}

.ml-0 {
    margin-left: 0em !important;
}

.ml-1 {
    margin-left: 0.5em !important;
}

.ml-2 {
    margin-left: 1em !important;
}

.ml-3 {
    margin-left: 1.5em !important;
}

.ml-4 {
    margin-left: 2em !important;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}

.mx-1 {
    margin: 0 0.5em !important;
}

.mx-2 {
    margin: 0 1em !important;
}

.mx-3 {
    margin: 0 1.5em !important;
}

.mx-4 {
    margin: 0 2em !important;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.my-1 {
    margin: 0.5em 0;
}

.my-2 {
    margin: 1em 0;
}

.my-3 {
    margin: 1.5em 0;
}

.my-4 {
    margin: 2em 0;
}

.p-0 {
    padding: 0em !important;
}

.p-1 {
    padding: 0.5em !important;
}

.p-2 {
    padding: 1em !important;
}

.p-3 {
    padding: 1.5em !important;
}

.p-4 {
    padding: 2em !important;
}

.pr-0 {
    padding-right: 0em !important;
}

.pr-1 {
    padding-right: 0.5em !important;
}

.pr-2 {
    padding-right: 1em !important;
}

.pr-3 {
    padding-right: 1.5em !important;
}

.pr-4 {
    padding-right: 2em !important;
}

.pt-0 {
    padding-top: 0em !important;
}

.pt-1 {
    padding-top: 0.5em !important;
}

.pt-2 {
    padding-top: 1em !important;
}

.pt-3 {
    padding-top: 1.5em !important;
}

.pt-4 {
    padding-top: 2em !important;
}

.pb-0 {
    padding-bottom: 0em !important;
}

.pb-1 {
    padding-bottom: 0.5em !important;
}

.pb-2 {
    padding-bottom: 1em !important;
}

.pb-3 {
    padding-bottom: 1.5em !important;
}

.pb-4 {
    padding-bottom: 2em !important;
}

.pl-0 {
    padding-left: 0em !important;
}

.pl-1 {
    padding-left: 0.5em !important;
}

.pl-2 {
    padding-left: 1em !important;
}

.pl-3 {
    padding-left: 1.5em !important;
}

.pl-4 {
    padding-left: 2em !important;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.px-1 {
    padding: 0 0.5em !important;
}

.px-2 {
    padding: 0 1em !important;
}

.px-3 {
    padding: 0 1.5em !important;
}

.px-4 {
    padding: 0 2em !important;
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.py-1 {
    padding: 0.5em 0;
}

.py-2 {
    padding: 1em 0;
}

.py-3 {
    padding: 1.5em 0;
}

.py-4 {
    padding: 2em 0;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-white {
    color: @color-white !important;
}
.text-blue {
    color: @color-blue !important;
}


.text-primary {
    color: @primary-color !important;
}
.text-green {
    color: @color-green !important;
}


.text-black {
    color: @color-black !important;
}

.text-danger {
    color: red !important;
}

.bg-white {
    background-color: @color-white !important;
}

.bg-primary {
    background-color: @primary-color !important;
}

.bg-secondary {
    background-color: @secondary-color !important;
}

.bg-black {
    background-color: @color-black !important;
}

.no-border {
    border: none !important;
}

.no-outline {
    outline: none !important;
}

.w-100 {
    width: 100% !important;
}

.w-90 {
    width: 90% !important;
}

.w-80 {
    width: 80% !important;
}

.w-70 {
    width: 70% !important;
}

.w-60 {
    width: 60% !important;
}

.w-50 {
    width: 50% !important;
}

.h-100 {
    height: 100vh !important;
}

.fs-1H7 {
    font-size: 0.7rem !important;
}

.fs-1 {
    font-size: 1rem !important;
}

.fs-11 {
    font-size: 1.1rem !important;
}

.fs-12 {
    font-size: 1.2rem !important;
}

.fs-13 {
    font-size: 1.3rem !important;
}

.fs-14 {
    font-size: 1.4rem !important;
}

.fs-15 {
    font-size: 1.5rem !important;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.d-flex {
    display: flex !important;
}

.d-none {
    display: none !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-end {
    justify-content: end !important;
}

.justify-content-space-between {
    justify-content: space-between;
}


.align-items-end {
    align-items: end !important;
}

.align-items-center {
    align-items: center !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.btn-custom-height-1 {
    height: 3em !important;
}

.btn-custom-height-2 {
    height: 2em !important;
}

