@import "./variables.less";

body {
    margin: 0 !important;
}

* {
    font-family: "Work Sans" !important;
}

.ant-table-thead tr th span{
    background-color: #F4F9FF !important;
    color: #000 !important;
}
.ant-table-thead tr th{
    background-color: #F4F9FF !important;
    color: #000 !important;
}
.action-btn-edit {
    background-color: #49b951 !important;
    color: @color-white !important;
}

.action-btn-edit:hover {
    background-color: #76b87a !important;
}

.action-btn-dots {
    background-color: @secondary-color !important;
    color: @primary-color !important;
    svg path {
        stroke-width: 40px !important;
    }
}

.action-btn-dots:hover {
    border: 1px solid @secondary-color !important;
    background-color: @secondary-color !important;
    opacity: 0.7 !important;
}

// Form Item - Lable Bold and removed *
.ant-form-item-required,
.ant-form-item-label * {
    color: @color-black !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
}

// .ant-form-item-required::before {
//     content: "" !important;
// }
// Form Item - Lable Bold and removed *

// Radio Button Style...
.ant-radio-button-wrapper,
.ant-radio-button-wrapper-checked {
    height: 2.7em !important;
    line-height: 2.7em !important;
    font-size: 1.3rem !important;
}

.user-type {
    border: 1px solid rgb(0 0 0 / 12%);
    border-radius: 6px !important;
    width: 100% !important;
    padding: 0.5em 0 !important;
    .ant-radio-button-wrapper-in-form-item {
        border: none !important;
    }
    // .ant-radio-button-wrapper-in-form-item:nth-child(1) {
    //     border-top-left-radius: 6px !important;
    //     border-bottom-left-radius: 6px !important;
    // }
    // .ant-radio-button-wrapper-in-form-item:nth-child(2) {
    //     border-top-right-radius: 6px !important;
    //     border-bottom-right-radius: 6px !important;
    // }
    .ant-radio-button-wrapper-in-form-item:hover,
    .ant-radio-button-wrapper-in-form-item:focus-visible,
    .ant-radio-button-wrapper-checked {
        background-color: @primary-color !important;
        color: white !important;
        border-color: @primary-color !important;
        outline: none !important;
        box-shadow: none !important;
    }

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
        background-color: @primary-color !important;
        border-color: @primary-color !important;
    }
}
// Radio Button Style...

// Check Box Style
.ant-checkbox-wrapper {
    font-weight: bold !important;
    font-size: 1.1rem !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: @primary-color !important;
    border-color: @primary-color !important;
}

// Check Box Style
// width
::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

// Track
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

// Handle
::-webkit-scrollbar-thumb {
    background: @color-lighter;
    border-radius: 10px;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
    background: @color-lighter;
}

.w_250 {
    padding-left: 18em !important;
}

.w_80 {
    padding-left: 6em !important;
}

.w_0 {
    padding-left: 0em !important;
}

// PopConfirm Button Color
.ant-popconfirm {
    .ant-btn-primary {
        background-color: @primary-color !important;
    }
}

.p-1H7 {
    padding: 0.7em !important;
}

// Editable Cell CSS
.editable-cell {
    position: relative !important;
}

.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer !important;
}

.editable-row:hover .editable-cell-value-wrap {
    padding: 4px 11px !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 2px !important;
}

[data-theme="dark"] .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #434343 !important;
}
// Editable Cell CSS

// Antd Select Design Changes
.ant-select-selector {
    height: 50px !important;
}

.ant-select-selection-item {
    line-height: 50px !important;
}
// Antd Select Design Changes

// My Custom Button - Start
.btn-mq {
    border-color: @primary-color !important;
    color: @primary-color !important;
}

// table heighlists 

tr.table-first td:nth-child(1) {
    color: #2A96D4 !important;
    font-weight: bold;
}
tr.table-second td:nth-child(2) {
    color: #2A96D4 !important;
    font-weight: bold;
}

tr.table-three td:nth-child(3) {
    color: #2A96D4 !important;
    font-weight: bold;
}


tr.table-forth td:nth-child(4) {
    color: #2A96D4 !important;
    font-weight: bold;
}

tr.table-five td:nth-child(5) {
    color: #2A96D4 !important;
    font-weight: bold;
}

tr.table-six td:nth-child(6) {
    color: #2A96D4 !important;
    font-weight: bold;
}

tr.table-seven td:nth-child(7) {
    color: #2A96D4 !important;
    font-weight: bold;
}

tr.table-seven-center td:nth-child(7) {
   display: flex;
   justify-content: center;
}
tr.table-eight td:nth-child(8) {
    color: #2A96D4 !important;
    font-weight: bold;
}

tr.table-nine td:nth-child(9) {
    color: #2A96D4 !important;
    font-weight: bold;
}

tr.table-ten td:nth-child(10) {
    color: #2A96D4 !important;
    font-weight: bold;
}

// My Custom Button - Ends

// common icon
// green icon
.icon-green {
    border: 1px solid white !important;
    font-size: 2rem;
    padding: 10px;
    color: #48A348;
    border-radius: 5px !important;
    background-color: #C9E3C9 !important;
}

.icon-green:hover {
    border: 1px solid #fff !important;
    color: #fff;
    background-color: #48A348 !important;
}

// red icon
.icon-red {
    border: 1px solid white !important;
    font-size: 2rem;
    padding: 10px;
    color: #FF5B5C;
    border-radius: 5px !important;
    background-color: #FFF1F1 !important;
}

.icon-red:hover {
    border: 1px solid #fff !important;
    color: #fff;
    background-color: #FF5B5C !important;
}


.icon-blue {
    border: 1px solid white !important;
    border-radius: 8px !important;
    font-size: 2rem;
    padding: 10px;
    color: #2A97D6;
    border-radius: 5px !important;
    background-color: #E0EFFF !important;
}

.icon-blue:hover {
    border: 1px solid #fff !important;
    color: #fff;
    background-color: #2A97D6 !important;
}

// dropdown table list 

.drop-green-btn{
    color: #3DC182;
    width: 110px;
    border: 1px solid #BEEAD5;
    background: #BEEAD5;
    font-weight: 500;
}
.drop-green-btn:hover{
    color: #3DC182 !important;
    border: 1px solid #BEEAD5  !important;
    background: #BEEAD5  !important;
}
.drop-red-btn{
    color: #FF5B5C;
    width: 110px;
    border: 1px solid #FFE4D3;
    background: #FFE4D3;
    font-weight: 500;
}
.drop-red-btn:hover{
    color: #FF5B5C !important;
    border: 1px solid #FFE4D3 !important;
    background: #FFE4D3 !important;
}
.drop-blue-btn{
    color: #336BAB;
    width: 110px;
    border: 1px solid #BBCDE3;
    background: #BBCDE3;
    font-weight: 500;
}
.drop-blue-btn:hover {
    color: #336BAB !important;
    border: 1px solid #BBCDE3 !important;
    background: #BBCDE3 !important;
}
.drop-yellow-btn{
    color: #FFCC4A !important;
    width: 110px !important;
    border: 1px solid #FFF7E4 !important;
    background: #FFF7E4 !important;
    font-weight: 500 !important;
}

.drop-yellow-btn:hover {
    color: #FFCC4A !important;
    border: 1px solid #FFF7E4 !important;
    background: #FFF7E4 !important;
}

// text color 

.text-color-green{color: green;}
.text-color-red{color: red;}

// button active normal 
.custome-btn{color: #2A96D4 !important; 
    border: 1px solid #2A96D4 !important; 
    background-color: #fff !important;}

    .custome-btn:hover{color: #fff !important; 
        border: 1px solid #2A96D4 !important; 
        background-color: #2A96D4 !important;}
    
  .custome-btn-red{color: #fff !important; 
    border: 1px solid #fff !important; 
     background-color: #ff0000 !important;}
        
.custome-btn-red:hover{color: #ff0000 !important; 
 border: 1px solid #ff0000 !important; 
background-color: #fff !important;}

.custome-btn-green{color: #fff !important; 
    border: 1px solid #fff !important; 
     background-color: #008000 !important;}
        
.custome-btn-green:hover{color: #008000 !important; 
 border: 1px solid #008000 !important; 
background-color: #fff !important;}


.custome-btn-blue{color: #fff !important; 
    border: 1px solid #fff !important; 
     background-color: #0000ff !important;}
        
.custome-btn-blue:hover{color: #0000ff !important; 
 border: 1px solid #0000ff !important; 
background-color: #fff !important;}



            
.btn-custome{color: #fff !important; 
        border: 1px solid #2A96D4 !important; 
        background-color: #2A96D4 !important;}
.btn-custome:hover{color: #2A96D4 !important; 
            border: 1px solid #2A96D4 !important; 
            background-color: #fff !important;}

.btn-active{
    background-color: #008000 !important;
    color: @color-white !important;
    border: 1px solid #008000 !important;
}
.btn-active:hover{
    border: 1px solid #008000 !important;
    background-color: #fff !important;
    color: #008000 !important;
}
.btn-inactive{
    background-color: #ff0000 !important;
    color: @color-white !important;
    border: 1px solid #ff0000 !important;
}
.btn-inactive:hover{
    border: 1px solid #ff0000 !important;
    background-color: #fff !important;
    color: #ff0000 !important;
}

// input search 

.input-search{
    height: 42px !important;
}