.cosmetic-main {
  width: 100%;
  position: relative;
  border-radius: 0.8em;
  box-shadow: 0px 0px 3px #0000002c;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1.5em;
  overflow: hidden;

  .cosmetic-cost {
    font-size: 1.8rem;
    font-weight: bolder;
  }

  .cosmetic-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
  }

  .cosmetic-lable {
    color: grey;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .cosmetic-icon {
    width: 50px !important;
    height: 50px !important;
    background-size: cover !important;
    padding: 0.7em;
  }

  .cosmetic-bg {
    width: 100% !important;
    position: absolute;
    background-size: cover;
    border-radius: 0.8em;
    top: 0;
    left: 0;
  }
}
