@import "./variables.less";

.login-right {
    width: 100%;
    height: 100vh;
    background-color: @primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-left {
    width: 100%;
    height: 100vh;
    background-color: @color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        padding: 1em !important;
        min-width: 50% !important;
        height: auto !important;
    }
}

.login-helper {
    border-radius: 0.9em !important;
    background: @color-white !important;
    .login-helper-title {
        padding: 0.7em 1.5em;
        font-size: 1.5rem;
        background: @secondary-color;
        color: @primary-color;
        font-weight: 600;
    }
    .login-helper-body {
        padding: 1.5em 1.5em;
        font-size: 1.5rem;
    }
    .ant-form-item-required {
        color: @color-black !important;
        font-size: 1.2rem !important;
        font-weight: 400;
    }
    .ant-form-item-required::before {
        content: "" !important;
    }

    button.ant-btn {
        font-weight: 600 !important;
    }
}

@media only screen and (max-width: 767px) {
    .login-left {
        height: 15vh !important;
        img {
            padding: 2em !important;
            width: 50% !important;
        }
    }

    .login-right {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .css-dev-only-do-not-override-1ct6cg{
            width: 100% !important;
        }
    }
}
