@import "./variables.less";

.customer-modal {
    padding: 0 !important;
    border-radius: @border-radius !important;
    .ant-modal-content {
        border-radius: @border-radius !important;
        padding: 0 !important;
    }
    .ant-modal-close {
        display: none !important;
    }
    .modal-header {
        border-radius: @border-radius !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        // background-color: @secondary-color !important;
        background: #F4F9FF !important; 
        padding: 0em 0.5em !important;
        color: #000 !important;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        .close-btn {
            padding: 1em !important;
            cursor: pointer;
            font-size: 1.2rem !important;
            font-weight: bold;
        }
        .header-title {
            width: 60% !important;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            font-size: 1.375rem !important;
            font-weight: bold;
            text-align: center !important;
        }
    }
    .modal-body {
        padding: 2em !important;
        max-height: 500px !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
}
