@import "./variables.less";

.plan-box {
    margin: 1em 0 2em 0;
    box-shadow: 0px 0px 4px #33333349;
    border-top-right-radius: 0.7em;
    border-top-left-radius: 0.7em;
    overflow: hidden;
    .plan-price{
        font-size: 1.25rem !important;
        text-align: center;
        background: linear-gradient(to right,
        rgb(42,152,215),
        rgb(58,118,193),
        rgb(73,85,171),
        rgb(81,68,160),
        rgb(81, 68, 160)) !important; 
         color: @color-white;
        border: none !important;
        padding: 0.5em 0;
    }
    .plan-price.active {
        font-size: 1.25rem !important;
        text-align: center;
        background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%) !important;
        color: @color-white;
        border: none !important;
        padding: 0.5em 0;
    }
    .plan-name {
        font-size: 1.4rem !important;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }
    .plan-description {
        padding: 0.8em;
        font-size: 0.9rem !important;
        text-align: center;
    }
    .plan-description.active {
        padding: 0.8em;
        font-size: 1rem !important;
        text-align: center;
    }
  
}


.search-userspan.ant-select-selection-search{
    padding-top: 4% !important;
}

.plan-box-active {
    border: 1.5px @primary-color solid !important;
    border-top-right-radius: 0.7em;
    border-top-left-radius: 0.7em;
}