.user-prfile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    .user-avtar {
        font-size: 5rem;
        padding: 0;
        margin: 0;
    }
    .user-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0.5em;
        label {
            font-size: 1.2rem;
            font-weight: bolder;
        }
    }
}
