@primary-color: #0d0a0a;
@secondary-color: #dfd9d9;
@color-white: #ffffff;
@color-black: #000;
@color-dashboard: #f5f7fb;
@color-light: #4e4e4e;
@color-lighter: #8e8e8e;
@color-white-light: #f7f7f7;
@color-green : green;
@color-blue : blue;
// bg color
@bg-body: #ffffff;
@border-radius: 0.7em;

@font-face {
    font-family: "Work Sans";
    src: url("../fonts/WorkSans-Regular.ttf");
}
