@import "../variables.less";

.bg-sidebar {background: transparent;}
.rgb-sidebar{background: #fff !important;}
.ant-menu-item {
    height: 3em !important;
    font-size: 1.1rem !important;
    color: #A3AED0 !important;
}

.ant-menu-vertical > .ant-menu-item {
    line-height: 60px !important;
}

.ant-menu-item-active {
    background: #2A97D6 !important;
    color: #fff !important;
}
 
.ant-menu-item-selected {
    background: #2A97D6 !important;
    color: @color-white !important;
}

.ant-menu-inline .ant-menu-selected::after,
.ant-menu-inline .ant-menu-item-selected::after {
    display: none;
}

.sidebar-item-center {
    display: flex !important;
    align-items: center !important;
}

.ant-menu-item {
    width: 85% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-left: 22px !important;
}

.ant-menu-item span svg path {
    transition: stroke 0.3s !important;
}

.ant-menu-item-icon svg {
    fill: #fff !important;
    border-color: #fff !important;
    outline: #fff !important;
}

.ant-menu-item:hover .ant-menu-item-icon svg {
    fill: #000 !important;
    border-color: #fff !important;
    outline: #fff !important;
}

.ant-menu-item-selected .ant-menu-item-icon svg {
    fill: #000 !important;
    border-color: #000 !important;
    outline: #000 !important;
}

.ant-menu-item span svg path {
    fill: transparent;
    stroke: #A3AED0;
}

.ant-menu-item:hover span svg path {
    fill: transparent;
    stroke: #fff;
}

.ant-menu-item-selected span svg path {
    fill: transparent;
    stroke: #fff;
}

.ant-layout-sider-zero-width-trigger {
    display: none !important;
}
.ant-layout-sider {
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100vh !important;
    margin: 0 auto;
    z-index: 12;
}


