@import "../variables.less";


.report-cosmatic:hover {
    transform: scale(0.97);
    border-radius: 20px;
    box-shadow: 0px 0px 30px 1px #70B8E3;
    background: #8FC7EB !important;
      
   }
.report-welcome {
    width: 100% !important;
    border-radius: @border-radius !important;
    background: @primary-color !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: @color-white !important;
    min-height: 16em !important;
    .welcome-name {
        font-size: 1.4rem !important;
        font-weight: 600;
        margin-bottom: 0.5em !important;
        margin-top: 2em;
    }
    .welcome-quote {
        font-size: 0.9rem !important;
    }
    .welcome-date {
        font-size: 1.1rem !important;
    }
}

.report-cosmatic {
    width: 100% !important;
    border-radius: @border-radius !important;
    // background: @secondary-color !important;
    background: #B8E3FF ;
     color: #000 !important;
    position: relative !important;
    min-height: 14em !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    cursor: pointer !important;
    .report-counts {
    font-size: 2.6rem;
    font-weight: bold;
    margin-bottom: 0; 
     color: #000 !important;
}
.report-title {
    margin-top: 0.6em;
    font-size: 1.1rem !important;
    color: #000 !important;
}

.report-sub {
    font-weight: bold;
    margin-top: 0.6em;
    font-size: 1.1rem !important;
    color: #000 !important;
}

    // .top-right-icon {
    //     position: absolute !important;
    //     right: -2%;
    //     top: -3%;
    //     svg {
    //         width: 7em;
    //         height: 7em;
    //         path {
    //             fill: transparent;
    //             stroke: @secondary-color !important;
    //         }
    //     }
    // }
}





#report-chart{
    margin: 10px 0px !important;
    background-color: whitesmoke;
    border-radius: 10px;
}
