.p-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    .img {
        padding: 2em;
        img {
            width: 100%;
            background-attachment: fixed;
        }
    }
    p {
        margin-top: 2em;
        font-size: 1.3rem;
        text-align: center;
    }
}
