.content {
    height: 100vh !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/bg-body.png") !important;
    background-color: rgba(243, 244, 246);
    background-size: cover;
    .box {
        min-height: 10em !important;
        width: 50%;
        margin: auto;
        box-shadow: 0px 5px 10px #aabbcc5e;
        padding: 4em 4em;
        border-radius: 0.9em;
        background-color: #fff;
        .img {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100% !important;
                background-size: cover;
            }
        }
        .form {
            h1 {
                font-size: 1.8rem;
                // font-weight: lighter;
            }
            p {
                width: 100% !important;
                text-align: right;
                margin-left: auto;
                .ant-typography {
                    font-size: 1.2rem;
                }
            }
            .btn {
                float: right;
            }
        }
    }
}

.miq-theme {
    .ant-input:hover,
    .ant-input:focus {
        border-color: #5144a0 !important;
    }

    .ant-btn {
        background-color: #5144a0 !important;
        color: #ffffff !important;
        border: 1px solid #5144a0 !important;
    }

    .ant-btn:hover,
    .ant-btn:focus {
        border: 1px solid #5144a0 !important;
        color: #fff !important;
    }
    :where(.css-dev-only-do-not-override-yp8pcc).ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
        border-color: #5144a0;
        border-inline-end-width: 1px;
        z-index: 1;
    }

    .ant-form-item-label label {
        font-size: 1.1rem !important;
    }
}
