@import "../variables.less";




.dashboard-cosmatic:hover {
    transform: scale(0.97);
    border-radius: 20px;
    box-shadow: 0px 0px 30px 1px #70B8E3;
    background: #8FC7EB !important;
       
   }
   
.dashboard-welcome {
    width: 100% !important;
    border-radius: @border-radius !important;
    background: @primary-color !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: @color-white !important;
    min-height: 16em !important;
    .welcome-name {
        font-size: 1.4rem !important;
        font-weight: 600;
        margin-bottom: 0.5em !important;
        margin-top: 2em;
    }
    .welcome-quote {
        font-size: 0.9rem !important;
    }
    .welcome-date {
        font-size: 1.1rem !important;
    }
}

.dashboard-cosmatic {
    width: 100% !important;
    border-radius: @border-radius !important;
    // background: @secondary-color !important;
    background: #B8E3FF ;
    color: #000 !important;
    position: relative !important;
    min-height: 14em !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    cursor: pointer !important;
    .cosmatic-icon {
        border-radius: 50% !important;
        background: @secondary-color !important;
        padding: 0.9em !important;
        svg path {
            fill: transparent;
            stroke: @primary-color !important;
        }
    }
    .cosmatic-counts {
        font-size: 2.6rem;
        font-weight: bold;
        margin-bottom: 0;
        color: #000  !important;
    }
    .cosmatic-title {
        margin-top: 0.6em;
        font-size: 1.1rem !important;
        color: #000  !important;
    }
    .top-right-icon {
        position: absolute !important;
        right: -2%;
        top: -3%;
        svg {
            width: 7em;
            height: 7em;
            path {
                fill: transparent;
                stroke: #000  !important;
            }
        }
    }
}

.custom-table {
    width: 100% !important;
    border-radius: @border-radius !important;
    background: @color-white !important;
    overflow: hidden !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.16);
    padding: 0.5em !important;
    .custom-table-titles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 1em;
        font-size: 1.3rem;
    }
    thead tr th {
        font-size: 1rem;
        font-weight: normal !important;
    }
    tbody {
        color: @color-light !important;
        tr td {
            font-size: 1rem !important;
            opacity: 0.8 !important;
        }
    }
}
