@import "../variables.less";

.customer-modal {
    .modal-body {
        padding: 2em !important;
        max-height: 600px !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.subscription-header {
    .ant-form-item {
        margin-bottom: 0 !important;
        margin-right: 1em;
    }
}
.search-custome span.ant-select-selection-search{
    padding-top: 4% !important;
}
